@charset "UTF-8";
.verde{
	background-color: limegreen;
}
.azul{
	background-color: royalblue;
}
.azulclaro{
	background-color: deepskyblue;
}
.gris{
	background-color: grey;
}
.naranja{
	background-color: darkorange;
}
.derecha{
	transform: translateX(700px);
}
.blanco{
	height: 300px;
}

.verde1{
	background-color: green;
}
